.get-start-button
  margin: 1em 0 /* 前後の隙間 */
  padding: 0.8em 3em /* 塗りの余白 */
  font-size: 1em /* フォントサイズ */
  background-color: #black /* 背景色 */
  color: #FFF /* テキストカラー */
  border-radius: 3px /* 角の丸み */
  border: 1px solid #FFF