
.footer
    justify-content: space-between
    align-items: center
    padding: 32px
    background: #2c303a

.footer-links
    h4
      margin: 2px
      margin-right: 2rem
    li
      margin-right: 2rem