.sidebar-menu
  padding: 10px 0

  ul
    list-style: none
    padding: 0
    margin: 0

.sidebar-menu
  background-color: #1F1F26
  position: fixed
  left: 0
  top: 0

.sidebar-menu-item
  margin-bottom: 10px

  a
    display: flex
    align-items: center
    padding: 10px 20px
    color: #333
    text-decoration: none
    transition: background-color 0.3s

    &:hover
      background-color: #e9ecef

  i
    margin-right: 10px
    width: 20px
    text-align: center

.sidebar-menu-sub-list
  margin: 10px 0 5px 0

.sidebar-menu-text-title
  font-weight: bold
  
.explore
  color: #ffdd40

.grow
  color: #47cf73

.companies
  color: #0ebeff

.sidebar-menu-text-others
  color: #b7bbc8